@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
    height: 100%;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('../images/pexels-pixabay-278887.jpg');
    background-size: cover;
    background-position: center;
}

header {
    font-size: 2rem;
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 2rem;
    color: orange;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
}

label {
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.user-input {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

input {
    min-width: 275px;
    height: 1.7rem;
    border: none;
    border-bottom: 3px solid black;
    padding-left: 5px;
}

input[type=text] {
    font-size: 20px;
    color: #000;
    letter-spacing: 3px;
}

button {
    height: auto;
    width: auto;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    background-color: orange;
}

button:hover {
    color: orange;
    background-color: gainsboro;
}

input:focus {
    background-color: antiquewhite;
}

.palindrome-input {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 650px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
}

.palindrome {
    padding-top: 5px;
    font-size: 1.4rem;
    margin-top: 1rem;
}

.palindrome-def {
    border: 1px solid black;
    margin-top: 4rem;
    max-width: 365px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    font-style: italic;
}

.palindrome-def:hover {
    background-color: #FFF;
    color: black;
    cursor: pointer;
    animation-name: palindrome;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes palindrome {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(1.3);
    }
    100% {
        transform: scaleX(1.1);
    }
}

.palindrome-def h2 {
    font-size: 1.25rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
    letter-spacing: 5px;
}

.palindrome-def p {
    font-size: 1.12rem;
    line-height: 1.5rem;
}